<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutResourceUsageDuringSmallTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="../vendor/autoload.php"
    cacheResultFile="../.build/.phpunit/unit.cache"
    colors="true"
    columns="max"
    executionOrder="random"
    verbose="true"
    forceCoversAnnotation="true"
>
    <testsuites>
        <testsuite name="Core Tests">
            <directory>Core</directory>
        </testsuite>
        <testsuite name="Dataset Base Tests">
            <directory>DatasetBase</directory>
        </testsuite>
        <testsuite name="Portal Base Tests">
            <directory>PortalBase</directory>
        </testsuite>
        <testsuite name="Storage Base Tests">
            <directory>StorageBase</directory>
        </testsuite>
    </testsuites>
    <coverage
        includeUncoveredFiles="true"
        pathCoverage="true"
        processUncoveredFiles="true"
    >
        <include>
            <directory suffix=".php">../src/Core/</directory>
            <directory suffix=".php">../src/DatasetBase/</directory>
            <directory suffix=".php">../src/PortalBase/</directory>
            <directory suffix=".php">../src/StorageBase/</directory>
        </include>
    </coverage>
</phpunit>
