<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    bootstrap="../vendor/autoload.php"
    colors="true"
    columns="max"
    executionOrder="random"
    cacheDirectory="../.build/.phpunit.cache"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
>
    <testsuites>
        <testsuite name="Core Tests">
            <directory>Core</directory>
        </testsuite>
        <testsuite name="Dataset Base Tests">
            <directory>DatasetBase</directory>
        </testsuite>
        <testsuite name="Portal Base Tests">
            <directory>PortalBase</directory>
        </testsuite>
        <testsuite name="Storage Base Tests">
            <directory>StorageBase</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../src/Core/</directory>
            <directory>../src/DatasetBase/</directory>
            <directory>../src/PortalBase/</directory>
            <directory>../src/StorageBase/</directory>
        </include>
    </source>
</phpunit>
