parameters:
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- ../src/Core/
		- ../src/DatasetBase/
		- ../src/PortalBase/
		- ../src/StorageBase/
		- ../src/TestSuiteStorage/
	tmpDir: ../.build/phpstan/
	ignoreErrors:
		-
			message: '#Return type \([a-zA-Z0-9\\_]+\) of method [a-zA-Z0-9\\_]+::(add|sub)\(\) should be covariant with return type \(static\(DateTime\)\) of method DateTime::(add|sub)\(\)#'
			path: ../src/DatasetBase/Date.php
		-
			message: '#Unsafe usage of new static\(\)#'
			path: ../src/DatasetBase/Support/SetStateTrait.php
		-
			message: '#^Variable (method call|property access) on object\.$#'
			path: ../src/DatasetBase/Support/AbstractCollection.php
		-
			message: '#^Method Heptacom\\HeptaConnect\\Dataset\\Base\\Translatable\\ScalarCollection\\AbstractTranslatableScalarCollection::getInitialValue\(\) return type with generic interface Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\CollectionInterface does not specify its types: T$#'
			path: ../src/DatasetBase/Translatable/ScalarCollection/AbstractTranslatableScalarCollection.php
		-
			# never trust user input
			message: '#Instanceof between Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract and Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract will always evaluate to true.#'
			path: ../src/PortalBase/Emission/Contract/EmitterContract.php
		-
			# never trust user input
			message: '#Instanceof between Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract and Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract will always evaluate to true.#'
			path: ../src/PortalBase/Exploration/Contract/ExplorerContract.php
		-
			# never trust user input
			message: '#Instanceof between Heptacom\\HeptaConnect\\Portal\\Base\\Mapping\\Contract\\MappingInterface and Heptacom\\HeptaConnect\\Portal\\Base\\Mapping\\Contract\\MappingInterface will always evaluate to true.#'
			path: ../src/StorageBase/TypedMappingCollection.php
