rules:
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\ContractsHaveDocumentationRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\DoNotUseGlobBraceRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\FinalClassesMustNotHaveProtectedFieldsAndMethodsRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\ImplementationsMustBeFinalRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\InterfacesHaveDocumentationRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\UiActionsPublicMethodMustCallTracerOnReturnRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\UiActionsPublicMethodMustCallTracerOnThrowRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\UiActionsPublicMethodMustCallTracerOnYieldFromRule
	- Heptacom\HeptaConnect\DevOps\PhpStan\Rule\UiActionsPublicMethodMustCallTracerOnYieldRule
parameters:
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- ../dev-ops/bin/phpstan/src/
		- ../src/Core/
		- ../src/DatasetBase/
		- ../src/PortalBase/
		- ../src/StorageBase/
		- ../src/UiAdminBase/
		- ../src/TestSuiteStorage/
        # TODO Add TestSuitePortal
	tmpDir: ../.build/phpstan/
	scanDirectories:
		- ../vendor/
	ignoreErrors:
		-
			message: '#Unsafe usage of new static\(\)#'
			path: ../src/DatasetBase/Support/SetStateTrait.php
		-
			message: '#Dead catch - Throwable is never thrown in the try block.#'
			path: ../src/DatasetBase/Support/SetStateTrait.php
		-
			message: '#^Variable (method call|property access) on object\.$#'
			path: ../src/DatasetBase/Support/AbstractCollection.php
		-
			message: '#PHPDoc tag @var#'
			path: ../src/DatasetBase/Translatable/AbstractTranslatable.php
		-
			message: '#must have a documentation#'
			paths:
				- ../src/DatasetBase/Contract/DeferralAwareInterface.php
				- ../src/DatasetBase/Contract/DependencyInterface.php
		-
			message: '#Call to deprecated .* of class Heptacom#'
			path: ../src/DatasetBase/Translatable/AbstractTranslatable.php
		-
			message: '#^Method Heptacom\\HeptaConnect\\Dataset\\Base\\Translatable\\ScalarCollection\\AbstractTranslatableScalarCollection::getInitialValue\(\) return type with generic interface Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\CollectionInterface does not specify its types: T$#'
			path: ../src/DatasetBase/Translatable/ScalarCollection/AbstractTranslatableScalarCollection.php
		-
			message: '#Parameter \#1 \$callback of function set_error_handler expects#'
			path: ../src/PortalBase/Builder/BindThisTrait.php
		-
			# never trust user input
			message: '#Instanceof between Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract and Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract will always evaluate to true.#'
			path: ../src/PortalBase/Emission/Contract/EmitterContract.php
		-
			# never trust user input
			message: '#Instanceof between Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract and Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\DatasetEntityContract will always evaluate to true.#'
			path: ../src/PortalBase/Exploration/Contract/ExplorerContract.php
		-
			# never trust user input
			message: '#Instanceof between Heptacom\\HeptaConnect\\Portal\\Base\\Mapping\\Contract\\MappingInterface and Heptacom\\HeptaConnect\\Portal\\Base\\Mapping\\Contract\\MappingInterface will always evaluate to true.#'
			path: ../src/StorageBase/TypedMappingCollection.php
		-
			message: '#Unexpected token "\("#'
			paths:
				- ../src/Core/Bridge/PortalNode/Configuration/ClosureInstructionToken.php
				- ../src/Core/Bridge/PortalNode/Configuration/Config.php
				- ../src/Core/Bridge/PortalNode/Configuration/PortalNodeConfigurationHelper.php
		-
			message: '#PHPDoc tag @param for parameter .* contains unresolvable type#'
			paths:
				- ../src/DatasetBase/Support/AbstractCollection.php
		-
			message: '#has.*no.*type specified#'
			paths:
				- ../src/Core/Bridge/PortalNode/Configuration/Config.php
				- ../src/Core/Portal/PortalStorage.php
				- ../src/DatasetBase/Support/AbstractCollection.php
		-
			# will not fail anymore, when we require composer 2.3 https://github.com/composer/composer/commit/84f0f191122af73039555a3a9381a1a408131422
			message: '#Instanceof between Composer\\Package\\Locker and Composer\\Package\\Locker will always evaluate to true#'
			paths:
				- ../src/Core/Component/Composer/PackageConfigurationLoader.php
		-
			# will not fail anymore, when we have php 8 min version
			message: '#Instanceof between Closure and Closure will always evaluate to true#'
			paths:
				- ../src/Core/Bridge/PortalNode/Configuration/Config.php
		-
			# It can, when jsonSerialize throws an exception
			message: '#Dead catch - Throwable is never thrown in the try block#'
			paths:
				- ../src/Core/Ui/Admin/Audit/AuditableDataSerializer.php
		-
			# No need to worry, non class-string is okay-ish
			message: '#Parameter \#\d \$query of method Heptacom\\HeptaConnect\\Core\\Portal\\Contract\\PackageQueryMatcherInterface::matchPortalExtensions\(\) expects class-string, string given#'
			paths:
				- ../src/Core/Configuration/PortalNodeConfigurationInstructionProcessor.php
				- ../src/Core/Ui/Admin/Action/PortalNodeExtensionActivateUi.php
				- ../src/Core/Ui/Admin/Action/PortalNodeExtensionDeactivateUi.php
		-
			message: '#has typehint with deprecated class Heptacom\\HeptaConnect\\Core\\Storage\\PrimaryKeyToEntityHydrator#'
			paths:
				- ../src/Core/Emission/IdentityMappingEmitter.php
				- ../src/Core/Exploration/DirectEmissionFlowEmittersFactory.php
				- ../src/Core/Exploration/ExplorationFlowExplorersFactory.php
				- ../src/Core/Exploration/IdentityMappingExplorer.php
		-
			# Min version is not high enough
			message: '#Since Composer 2.4.0 use the composer/class-map-generator package instead#'
			paths:
				- ../src/Core/Component/Composer/PackageConfigurationLoader.php
		-
			# Should not occur when we update bentools/iterable-functions
			message: '#Unable to resolve the template type#'
			paths:
				- ../src/Core/Ui/Admin/Action/PortalEntityListUi.php
		-
			# Should not occur when we update bentools/iterable-functions
			message: '#Generator expects value type .*, object given#'
			paths:
				- ../src/Core/Ui/Admin/Action/PortalEntityListUi.php
		-
			# Should be solveable after we update bentools/iterable-functions
			message: '#Parameter \#1 \$mapFn of method#'
			paths:
				- ../src/Core/Mapping/Publisher.php
		-
			# I know we can disable it but this hitting too much of the code base
			message: "#Casting to .* something that's already .*#"
			paths:
				- ../src/Core/Portal/PortalStorage.php
				- ../src/DatasetBase/ScalarCollection/IntegerCollection.php
