parameters:
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- ../src/
	tmpDir: ../.build/phpstan/
	ignoreErrors:
		-
			message: '#Return type \([a-zA-Z0-9\\_]+\) of method [a-zA-Z0-9\\_]+::(add|sub)\(\) should be covariant with return type \(static\(DateTime\)\) of method DateTime::(add|sub)\(\)#'
			path: ../src/Date.php
		-
			message: '#Unsafe usage of new static\(\)#'
			path: ../src/Support/SetStateTrait.php
		-
			message: '#^Variable (method call|property access) on object\.$#'
			path: ../src/Support/AbstractCollection.php
		-
			message: '#^Method Heptacom\\HeptaConnect\\Dataset\\Base\\Translatable\\ScalarCollection\\AbstractTranslatableScalarCollection::getInitialValue\(\) return type with generic interface Heptacom\\HeptaConnect\\Dataset\\Base\\Contract\\CollectionInterface does not specify its types: T$#'
			path: ../src/Translatable/ScalarCollection/AbstractTranslatableScalarCollection.php
