<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    cacheResult="false"
    colors="true"
    columns="max"
    executionOrder="random"
    cacheDirectory="../../.build/.phpunit-test-portal.cache"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../../src/TestSuitePortal</directory>
        </include>
    </source>
</phpunit>
